.flight-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 20px;
  margin: 20px 0;
  background-color: #f8f9fa;
}

.flight-info {
  display: flex;
  justify-content: space-between;
}

.flight-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.flight-time {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.flight-duration {
  margin: 0 20px;
  text-align: center;
}

.flight-price {
  text-align: right;
  margin-top: 10px;
}

.flight-details-link {
  margin-top: 10px;
}

.book-flight-button {
  background-color: #6a0dad;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.book-flight-button:hover {
  background-color: #551a8b;
}

.filters {
  margin: 20px 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.filters label {
  display: flex;
  flex-direction: column;
}

.filters input,
.filters select,
.filters button {
  padding: 5px;
  margin-top: 5px;
}
